openapi: 3.0.3

info:
  title: 墨阅小说网 API
  version: 1.0.0
  description: |
    免费读书网站「墨阅小说网」后端接口契约（OpenAPI 3.0）。
    前端 Vue 3 三端（读者端 / 作家端 / 管理后台）与本契约并行开发。
    约定：统一响应体 R<T>；鉴权 Authorization: Bearer {accessToken}；
    分页参数 page / size；写操作需带 Idempotency-Key；错误码为 5 位业务码。

servers:
  - url: https://api.moyue.com/api/v1
    description: 生产环境
  - url: https://staging-api.moyue.com/api/v1
    description: 预发环境

tags:
  - name: auth
    description: 鉴权与用户
  - name: book
    description: 书城与检索
  - name: chapter
    description: 章节与创作
  - name: comment
    description: 互动
  - name: reward
    description: 打赏支付
  - name: admin
    description: 管理后台

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: 手机号 + 密码登录
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginReq" }
      responses:
        "200":
          description: 登录成功
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiResponse" }
        "401":
          description: 账号或密码错误

  /auth/register:
    post:
      tags: [auth]
      summary: 注册账号并下发短信验证码
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code, password]
              properties:
                phone:    { type: string }
                code:     { type: string }
                password: { type: string, format: password }
      responses:
        "200": { description: 注册成功 }

  /auth/refresh:
    post:
      tags: [auth]
      summary: 用 refreshToken 换取新的 accessToken
      security: []
      responses:
        "200": { description: 刷新成功 }

  /users/me:
    get:
      tags: [auth]
      summary: 获取当前登录用户资料与角色权限
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserInfo" }

  /books:
    get:
      tags: [book]
      summary: 分页查询作品（分类 / 标签 / 排序 / 状态筛选）
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: size
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: categoryId
          in: query
          schema: { type: integer, format: int64 }
        - name: sort
          in: query
          schema: { type: string, enum: [hot, newest, wordcount] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageResult" }

  /books/{bookId}:
    get:
      tags: [book]
      summary: 书籍详情（简介 / 作者 / 统计 / 最新章节）
      parameters:
        - name: bookId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: OK }

  /books/search:
    get:
      tags: [book]
      summary: 全文检索（Elasticsearch），返回书籍与作者
      parameters:
        - name: keyword
          in: query
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /shelf/{bookId}:
    post:
      tags: [book]
      summary: 加入或移出我的书架（幂等）
      parameters:
        - name: bookId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: OK }

  /books/{bookId}/catalog:
    get:
      tags: [chapter]
      summary: 章节目录（分页，Redis 缓存 10 分钟）
      parameters:
        - name: bookId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: OK }

  /chapters/{chapterId}:
    get:
      tags: [chapter]
      summary: 章节正文（热点缓存，未命中回源 MySQL 从库）
      parameters:
        - name: chapterId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: OK }

  /author/books:
    post:
      tags: [chapter]
      summary: 新建作品（草稿态）
      responses:
        "200": { description: 创建成功 }
    get:
      tags: [chapter]
      summary: 我的作品列表
      responses:
        "200": { description: OK }

  /author/books/{bookId}/chapters:
    post:
      tags: [chapter]
      summary: 新建章节（默认草稿态，支持自动保存）
      parameters:
        - name: bookId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: 创建成功 }

  /author/chapters/{id}/publish:
    post:
      tags: [chapter]
      summary: 提交发布 / 定时发布，进入审核队列
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: 已提交审核 }

  /comments:
    get:
      tags: [comment]
      summary: 评论列表（按书籍 / 章节分页，含点赞数）
      parameters:
        - name: bookId
          in: query
          schema: { type: integer, format: int64 }
        - name: chapterId
          in: query
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: OK }
    post:
      tags: [comment]
      summary: 发表评论，先落库待审再异步机审
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bookId, content]
              properties:
                bookId:    { type: integer, format: int64 }
                chapterId: { type: integer, format: int64 }
                content:   { type: string, maxLength: 1000 }
      responses:
        "200": { description: 已提交，审核中 }

  /rewards:
    post:
      tags: [reward]
      summary: 创建打赏订单，返回 orderNo 与支付参数
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /orders/{orderNo}:
    get:
      tags: [reward]
      summary: 轮询订单支付状态（幂等查询）
      parameters:
        - name: orderNo
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }

  /callbacks/wechat/pay:
    post:
      tags: [reward]
      summary: 微信支付异步回调（验签 + 解密 + 幂等）
      security: []
      responses:
        "200": { description: 返回 SUCCESS }

  /admin/audit/comments:
    get:
      tags: [admin]
      summary: 待审核评论列表（举报次数 / 机审分）
      responses:
        "200": { description: OK }

  /admin/audit/comments/{id}:
    post:
      tags: [admin]
      summary: 审核通过 / 驳回，写回审核结果与通知
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: OK }

  /admin/stats/overview:
    get:
      tags: [admin]
      summary: 运营数据总览（用户 / 作品 / 评论 / 收入）
      responses:
        "200": { description: OK }

  /admin/announcements:
    post:
      tags: [admin]
      summary: 发布运营公告，支持定时上线与置顶
      responses:
        "200": { description: OK }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ApiResponse:
      type: object
      description: 统一响应体 R<T>
      properties:
        code:    { type: integer, example: 0 }
        message: { type: string,  example: success }
        data:    { type: object }
        traceId: { type: string }

    LoginReq:
      type: object
      required: [phone, password]
      properties:
        phone:    { type: string, pattern: "^1[3-9][0-9]{9}$" }
        password: { type: string, format: password, minLength: 6 }

    UserInfo:
      type: object
      properties:
        id:       { type: integer, format: int64 }
        phone:    { type: string }
        nickname: { type: string }
        role:     { type: integer, enum: [1, 2, 3], description: 1 读者 / 2 作者 / 3 管理员 }
        status:   { type: integer, enum: [0, 1] }

    PageResult:
      type: object
      properties:
        total:   { type: integer }
        page:    { type: integer }
        size:    { type: integer }
        records: { type: array, items: { type: object } }
